# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
vendor/
node_modules/

# misc
.DS_Store
.env
.idea/
npm-debug.log*
.php-cs-fixer.cache
*.swp

# dependency lock file
composer.lock

# overrides for local tooling
/phpstan.neon
